h1{
	text-align: center;
	font-size: 25px;
}
@media(min-width: 992px){
div{
	width: 30.33%;
	height: 200px;
	border: 2px solid black;
	float: left;
	margin: 1%;
	background-color:grey ;
	padding-top: 00px;
}
}
@media(min-width: 767px) and (max-width:991px ){
#div_1{
	width: 40%;
	height: 200px;
	border: 2px solid black;
	float: left;
	margin: 2%;
	background-color:#808080 ;
	padding-top: 00px;
}
#div_2{
	width: 40%;
	height: 200px;
	border: 2px solid black;
	float: left;
	margin: 2%;
	background-color:#808080 ;
	padding-top: 00px;
}
#div_3{
	width:84%;
	height: 200px;
	border: 2px solid black;
	float: left;
	margin: 2%;
	background-color:#808080 ;
	padding-top: 00px;
}
}
@media(max-width:766px ){
#div_1{
	width: 100%;
	height: 200px;
	border: 2px solid black;
	float: left;
	margin: 20px;
	background-color:#808080 ;
	padding-top: 00px;
}
#div_2{
	width: 100%;
	height: 200px;
	border: 2px solid black;
	float: left;
	margin: 20px;
	background-color:#808080 ;
	padding-top: 00px;
}
#div_3{
	width: 100%;
	height: 200px;
	border: 2px solid black;
	float: left;
	margin: 20px;
	background-color:#808080 ;
	padding-top: 00px;
}
}p{
	width: 20%;
	height: 20px;
	border: 2px solid black;
	
	font-family: "Times New Roman", Times, serif;
	float: right;
	text-align: center;
	margin: 0px 0px;

}
#p1{
	background-color:#ffb3b3;
	margin: 0px 0px;
}
#p2{
	background-color: #cc0000;
	color: white;
}
#p3{
	background-color: #fff0b3;

}